#define PUSHER_KEY ""
#define PUSHER_SECRET ""
#define PUSHER_CLUSTER ""
#define FIREBASE_API_KEY ""
#define FIREBASE_DATABASE_URL ""
#define FIREBASE_USER_EMAIL ""
#define FIREBASE_USER_PASSWORD ""
#define WIFI_SSID ""
#define WIFI_PASSWORD ""